.view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 2px solid grey;
    padding: 10px;
    margin: 5px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white !important;
}

.card:hover {
    text-decoration: none;
    border: 2px solid lightblue;
    cursor: pointer;
}

.card img {
    width: 100%;
}

.view.categorie .card {
    max-width: 263px;
    flex: 1 1 263px;
}

.styleBtn {
    color: red;
    margin-bottom: 15px;
}