<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bibliotheque</title>
    <link rel="stylesheet" href="public/css/baseCss.css" >
    <link rel="stylesheet" href="public/css/bootstrap-4/bootstrap.min.css" >
    <link rel="stylesheet" href="public/css/fontawsome-5.all.min.css" >
    <script src="public/js/jquery-3/jquery.slim.min.js"></script>
    <script src="public/js/bootstrap-4/bootstrap.min.js" ></script>
    <script src="public/js/app.js"></script>
</head>
<body>
{# Template commune à toutes les pages #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fas fa-book fa-2x"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="?page=Home&module=Article">Accueil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorie
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="?page=Articles&module=Article&id=2">CD</a>
                    <a class="dropdown-item" href="?page=Articles&module=Article&id=3">DVD</a>
                    <a class="dropdown-item" href="?page=Articles&module=Article&id=4">Magazines</a>
                    <a class="dropdown-item" href="?page=Articles&module=Article&id=5">Livres</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

    <div class="container">
    {% block body %}{% endblock %}
    </div>
</body>
</html>