{% extends 'base.html.twig' %}

{% block body %}

<h1 class="alert alert-danger text-center">{{ e.message }}</h1> <br>
    {% macro createErrorDesign(error) %}
        <span>
            {% if error is iterable  %}
                {% for item in error %}
                    {{ _self.createErrorDesign(item) }} :
                {% endfor %}
            {% else %}
                {{ error }}
            {% endif %}
        </span>
    {% endmacro %}
    {# Si admin = true, affiche les erreurs #}
    {% set admin = false %}
    {%  if admin is defined and admin %}
        {% for item in e.trace %}
            <div class="container">
                {{ _self.createErrorDesign(item) }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}