{% extends 'base.html.twig' %}

{# affichage des détails d'un article #}
{% block body %}
    <h1>Détail Article</h1>

    <div class="card">
        <h5 class="card-header">{{ article.libelle|capitalize }}</h5>
        <div class="card-body">
            <h5 class="card-title">{{ article.ref }}</h5>
            <p class="card-text">{{ article.typearticle.libelle }}</p>
            {# affichage dynamique de toutes les caractéristiques liées à l'article #}
            {% for caracteristique in article.caracteristiques %}
                <div>{{ caracteristique.Caracteristique.libelle|capitalize }} : {{ caracteristique.value }} </div>
            {% endfor %}
            <a href="?page=Delete&module=Article&id={{ article.id }}" class="btn btn-primary mt-2">Supprimer</a>
            <a href="?page=Articles&module=Article&id={{ article.typeArticle.id }}" class="btn btn-danger mt-2">Retour</a>
        </div>
        
    </div>
{% endblock %}



