{% extends "base.html.twig" %}

{% block body %}

    <div class="row justify-content-center">
        <h1>Tous les {{typeArticle.libelle}}s</h1>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-primary m-1" href="?module=Article&page=Formajout&id={{ typeArticle.id }}">Ajouter un {{ typeArticle.libelle }}</a>
        <a href="?page=Home&module=Article" class="btn btn-danger m-1">Retour</a>
    </div>

{# affichage de tous les articles d'un typearticle donné #}
{% if articles|length > 0 %}
<div class="container">
      <div class="row justify-content-center">
          {% for article in articles %}
              <div onclick="location = '?page=Article&module=Article&id={{ article.id }}'" class="card col-3" style="width: 18rem;">
                  <h5 class="card-header">{{ article.libelle }}</h5>
                  <div class="card-body">
                      <h5 class="card-title">{{ article.ref }}</h5>
                      <p class="card-text">{{ article.typearticle.libelle }}</p>
                      <p class="card-title">
                            Disponible:
                            {% if article.disponible %}
                                <strong>oui</strong>
                            {% else %}
                                <strong>non</strong>
                            {% endif %}
                      </p>
                      <a href="?page=Formajout&module=Article&id={{ article.typeArticle.id }}&idArticle={{ article.id }}" class="styleBtn btn btn-secondary" style="display:block;" id="modifier">Modifier</a>
                      <a href="?page=Article&module=Article&id={{ article.id }}=" class="styleBtn btn btn-primary" style="display:block;">Détails</a>
                      <a href="?page=Delete&module=Article&id={{ article.id }}&typeId={{article.typearticle.id}}" class="styleBtn btn btn-danger" style="display:block;">Supprimer</a>
                  </div>
              </div>
          {% endfor %}
  </div>
{% else %}

<div class="container">
  <div class="row justify-content-center">
    <h3>Nous n'avons plus ce type de produits en stock</h3>
  </div>
</div>

{% endif %}


{% endblock %}