{% extends 'base.html.twig' %}

{% block body %}

{# formulaire de création et de modification d'un article#}
{# Si la session existe, alors on remplit les champs avec les varaibles de la session ( l'article précédemment créé #}
{# Si l'article existe, alors on applique une modification de l'article (paramètre id de la route différente, condition dans le controleur #}
    {% if article %}
        {% set caracteristiques = article.caracteristiques %}
        {% set link = "?page=Formajout&module=Article&id=" ~ article.typeArticle.id ~ "&idArticle=" ~ article.id %}
        {% set title = "Modifier le " ~ article.typeArticle.libelle %}
        {% set type =  article.typeArticle %}
    {% else %}
        {% set link = "?page=Formajout&module=Article&id=" ~ type.id  %}
        {% set title = "Ajouter un " ~ type.libelle %}
    {% endif %}
    {% if session %}
{{ session['libelle1'] }}
    {% endif %}
        <h1>{{ title }}</h1>
    <form action="{{ link }}" method="post">
        <div class="form-group">
            <label for="libelle">Libelle Article</label>
            <input {% if article %} value="{{ article.libelle }}" {% elseif session['libelle' ~ type.id] %} value="{{ session['libelle' ~ type.id] }}" {% endif %}required="required" type="text" class="form-control" name="libelle" id="libelle" placeholder="Libelle Article">
        </div>
        <div class="form-group">
            <label for="Ref">Ref Article</label>
            <input {% if article %} value="{{ article.ref }}" {% elseif session['ref' ~ type.id] %} value="{{ session['ref' ~ type.id] }}" {% endif %}required="required" type="text" class="form-control" name="ref" id="Ref" placeholder="Ref Article">
        </div>
        {% for car in caracteristiques %}
            {% if article %}
                {% set value = car.value %}
                {% set car = car.caracteristique %}
            {% endif %}
        <div class="form-group">
            <label for="{{ car.libelle}}">{{ car.libelle|capitalize }}</label>
            <input {% if article %} value="{{ value }}" {% elseif session[car.libelle ~ type.id] %} value="{{ session[car.libelle ~ type.id] }}" {% endif %} required="required" type="text" class="form-control" name="{{ car.libelle }}" id="{{ car.libelle }}" placeholder="{{ car.libelle|capitalize }}">
        </div>
        {% endfor %}
        {% if article and article.typearticle.id != 4 %}
        <div class="form-group">
            <label for="disponible">Disponible</label>
            <input type='hidden' value='0' name='disponible'>
            <input type="checkbox" value="1" {% if article.disponible == 1 %} checked {% endif %} name="disponible">
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary mb-2">{% if article %} Modifier {% else %} Ajouter {% endif %}</button>
        <a href="?page=Articles&module=Article&id={{ type.id }}" class="btn btn-danger mb-2">Retour</a>
    </form>

{% endblock %}
