{% extends "base.html.twig" %}


{# Page d'accueil #}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <h1>Catégories</h1>
        </div>

        <div class="row justify-content-center">
        {# Affichage de tous les types d'articles à l'accueil #}
            {% for type in typeArticles %}
                <div onclick="location = '?page=Articles&module=Article&id={{ type.id }}'" class="card col-3" style="width: 18rem;">
                    <h5 class="card-header">{{ type.libelle|capitalize }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">
                            Empruntable :
                            {% if type.empruntable %}
                                <strong>oui</strong>
                            {% else %}
                                <strong>non</strong>
                            {% endif %}
                        </h5>
                        <a href="?page=Articles&module=Article&id={{ type.id }}" class="btn btn-primary">Voir tous les {{type.libelle}}s</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}